.footer {
    background-color: $darkViolet;
    padding: 8rem;

    .container {
        display: flex;
        justify-content: space-between;   
        
        @media only screen and (max-width: 660px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &_left {

        @media only screen and (max-width: 660px) {
            margin-bottom: 4rem;
        }

    }

    &_right {
        display: flex;

        &--list {
            display: flex;
            flex-direction: column;
            margin-right: 6.5rem;

            h5 {
                color: #fff;
                font-size: 1.5rem;
                padding-bottom: 2rem;
            }

            ul {

                li {
                    list-style: none;
                    padding-bottom: 1.3rem;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 1.5rem;
                        font-weight: 300;

                        &:hover {
                            color: $primaryCyan;
                        }
                    }
                }
            }

            @media only screen and (max-width: 660px) {
                margin-right: 0;
                margin-bottom: 4rem;
            }
        }

        &--socials {

            a {
                margin-left: 2rem;

                &:hover > svg path {
                    fill: $primaryCyan;
                }

            }
        }

        @media only screen and (max-width: 660px) {
            flex-direction: column;
        }
    }


}