* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EFF1F7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 61.25em) {
  .container {
    max-width: 90vw;
  }
}

.btn {
  background-color: #2acfcf;
  color: #fff !important;
  padding: 1rem 3rem !important;
  border-radius: 10rem;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #7ce4e4;
}

.header {
  background-color: #fff;
  padding-bottom: 13rem;
  overflow: hidden;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  margin-bottom: 7rem;
}

.header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation ul li {
  font-size: 1.6rem;
}

.header .navigation ul li a {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 1.8rem;
}

.header .navigation ul li a:hover {
  color: #35323e;
}

@media only screen and (max-width: 660px) {
  .header .navigation ul {
    display: none;
  }
}

.header .navigation_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation_left img {
  padding-right: 3rem;
}

.header .navigation_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navigation_mobile {
  opacity: 0;
  width: 3.3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media only screen and (max-width: 660px) {
  .header .navigation_mobile {
    opacity: 1;
  }
}

.header .navigation_mobile--burg {
  width: 100%;
  background-color: #9e9aa7;
  height: 3px;
}

@media only screen and (max-width: 660px) {
  .header .navigation {
    margin-bottom: 0;
  }
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 55%;
  padding-right: 5rem;
}

.header .hero_left--heading {
  font-size: 6.2rem;
  line-height: 1.2;
  color: #35323e;
}

@media only screen and (max-width: 860px) {
  .header .hero_left--heading {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 770px) {
  .header .hero_left--heading {
    font-size: 4.5rem;
  }
}

.header .hero_left--text {
  font-size: 1.8em;
  color: #bfbfbf;
  margin-bottom: 4rem;
}

.header .hero_left a {
  font-size: 1.8em;
}

@media only screen and (max-width: 660px) {
  .header .hero_left a {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 660px) {
  .header .hero_left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    padding: 0;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}

.header .hero_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 45%;
}

@media only screen and (max-width: 980px) {
  .header .hero_right--illustration {
    width: 150%;
  }
}

@media only screen and (max-width: 660px) {
  .header .hero_right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 660px) {
  .header .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.purple_bg {
  height: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purple_bg ul {
  text-decoration: none;
  list-style: none;
  display: none;
}

.purple_bg ul li {
  margin-bottom: 2.5rem;
}

.purple_bg ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1.8rem;
  font-size: 2.5rem;
}

.purple_bg ul li .btn {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.purple_bg ul:nth-last-child(1) {
  border-top: 1px solid #bfbfbf;
  padding-top: 2.5rem;
}

@media only screen and (max-width: 660px) {
  .purple_bg {
    width: 100%;
    background-color: #3b3054;
    border-radius: 10px;
    position: absolute;
  }
}

.heightjs {
  height: 350px;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5rem;
}

.displayjs {
  display: inherit !important;
}

.input-section {
  border-radius: .8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/images/bg-shorten-desktop.svg"), #3b3054;
  padding: 50px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section input,
.input-section input:active,
.input-section input:focus {
  width: 100%;
  height: 5rem;
  margin-right: 15px;
  border-radius: .5rem;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.5rem;
  font-size: 1.8em;
}

@media only screen and (max-width: 660px) {
  .input-section input,
  .input-section input:active,
  .input-section input:focus {
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 2rem;
    height: 43.78px;
  }
}

.input-section a {
  border-radius: .5rem;
  width: 15%;
  text-align: center;
  font-size: 15px;
  padding: 1.3rem 3rem !important;
}

@media only screen and (max-width: 871px) {
  .input-section a {
    width: 25%;
  }
}

@media only screen and (max-width: 660px) {
  .input-section a {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.input-section--error {
  color: #f46262;
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 72%;
}

@media only screen and (max-width: 980px) {
  .input-section {
    padding: 3rem;
  }
}

@media only screen and (max-width: 660px) {
  .input-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
  }
}

.error {
  border: 2px solid #f46262 !important;
  color: #f46262;
}

.error::-webkit-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error:-ms-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error::-ms-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error::placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.short-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 2rem;
}

.short-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 660px) {
  .short-link div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: 1px solid #efefef;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
  }
}

.short-link--domain {
  font-size: 1.6rem;
  color: #3b3054;
  font-weight: 500;
}

@media only screen and (max-width: 660px) {
  .short-link--domain {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 1rem;
    font-size: 15px;
    padding: 2rem;
  }
}

.short-link--shorted {
  font-size: 1.6rem;
  color: #2acfcf;
  font-weight: 500;
  margin-right: 2rem;
}

@media only screen and (max-width: 660px) {
  .short-link--shorted {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 15px;
  }
}

.short-link--button {
  border-radius: .5rem;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding: .8rem 2.5rem !important;
}

@media only screen and (max-width: 660px) {
  .short-link--button {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1rem 2.5rem !important;
  }
}

@media only screen and (max-width: 660px) {
  .short-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
    padding: 0;
  }
}

circle {
  fill: #2acfcf;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 125;
  stroke-dashoffset: 500;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

.stats {
  position: relative;
  padding-bottom: 10rem;
}

.stats--heading {
  font-size: 4rem;
  text-align: center;
  color: #35323e;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.stats--sub-head {
  text-align: center;
  font-size: 1.8rem;
  color: #bfbfbf;
  font-weight: 400;
}

.stats_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8rem 0;
}

.stats_boxes--box {
  margin-right: 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2.5rem;
  padding-top: 6rem;
  position: relative;
}

@media only screen and (max-width: 660px) {
  .stats_boxes--box {
    margin-bottom: 2rem;
  }
}

.stats_boxes--box div {
  background-color: #3b3054;
  border-radius: 10rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 660px) {
  .stats_boxes--box div {
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 4.5rem;
    height: 4.5rem;
  }
}

.stats_boxes--box h3 {
  font-size: 1.8em;
  color: #35323e;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 660px) {
  .stats_boxes--box h3 {
    font-size: 2.5rem;
  }
}

.stats_boxes--box p {
  font-size: 1.3rem;
  color: #bfbfbf;
}

@media only screen and (max-width: 660px) {
  .stats_boxes--box p {
    font-size: 1.5rem;
  }
}

.stats_boxes--box--2 {
  -webkit-transform: translateY(3.5rem);
          transform: translateY(3.5rem);
}

.stats_boxes--box--3 {
  margin-right: 0;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

@media only screen and (max-width: 660px) {
  .stats_boxes--box {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 660px) {
  .stats_boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.stats_green-bar {
  height: .7rem;
  width: 90%;
  background-color: #2acfcf;
  margin: 0 auto;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
}

@media only screen and (max-width: 660px) {
  .stats_green-bar {
    -webkit-transform: rotate(90deg) translateX(320px);
            transform: rotate(90deg) translateX(320px);
    width: 100%;
  }
}

.boost {
  padding: 6rem 0;
  text-align: center;
  background: url(/images/bg-boost-desktop.svg), #3b3054;
  background-size: cover;
}

.boost_heading {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 660px) {
  .boost_heading {
    font-size: 3.5rem;
  }
}

.boost a {
  font-size: 1.8em;
}

@media only screen and (max-width: 660px) {
  .boost a {
    font-size: 2.5rem;
  }
}

.footer {
  background-color: #232127;
  padding: 8rem;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 660px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 660px) {
  .footer_left {
    margin-bottom: 4rem;
  }
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_right--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6.5rem;
}

.footer_right--list h5 {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.footer_right--list ul li {
  list-style: none;
  padding-bottom: 1.3rem;
}

.footer_right--list ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer_right--list ul li a:hover {
  color: #2acfcf;
}

@media only screen and (max-width: 660px) {
  .footer_right--list {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

.footer_right--socials a {
  margin-left: 2rem;
}

.footer_right--socials a:hover > svg path {
  fill: #2acfcf;
}

@media only screen and (max-width: 660px) {
  .footer_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */