* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EFF1F7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  background-color: #2acfcf;
  color: #fff !important;
  padding: 1rem 3rem !important;
  border-radius: 10rem;
  text-decoration: none;
}

.header {
  background-color: #fff;
  padding-bottom: 13rem;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  margin-bottom: 7rem;
}

.header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header .navigation ul li {
  font-size: 1.6rem;
}

.header .navigation ul li a {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 1.8rem;
}

.header .navigation_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation_left img {
  padding-right: 3rem;
}

.header .navigation_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 55%;
  padding-right: 5rem;
}

.header .hero_left--heading {
  font-size: 6.2rem;
  line-height: 1.2;
  color: #35323e;
}

.header .hero_left--text {
  font-size: 1.8em;
  color: #bfbfbf;
  margin-bottom: 4rem;
}

.header .hero_left a {
  font-size: 1.8em;
}

.header .hero_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 45%;
}

.input-section {
  border-radius: .8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/images/bg-shorten-desktop.svg"), #3b3054;
  padding: 50px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section input,
.input-section input:active,
.input-section input:focus {
  width: 100%;
  height: 5rem;
  margin-right: 15px;
  border-radius: .5rem;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.5rem;
  font-size: 1.8em;
}

.input-section a {
  border-radius: .5rem;
  width: 15%;
  text-align: center;
  font-size: 15px;
  padding: 1.3rem 3rem !important;
}

.input-section--error {
  color: #f46262;
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 72%;
}

.error {
  border: 2px solid #f46262 !important;
  color: #f46262;
}

.error::-webkit-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error:-ms-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error::-ms-input-placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.error::placeholder {
  color: #f46262;
  opacity: 1;
  /* Firefox */
}

.short-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 2rem;
}

.short-link div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.short-link--domain {
  font-size: 1.6rem;
  color: #3b3054;
  font-weight: 500;
}

.short-link--shorted {
  font-size: 1.6rem;
  color: #2acfcf;
  font-weight: 500;
  margin-right: 2rem;
}

.short-link--button {
  border-radius: .5rem;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding: .8rem 2.5rem !important;
}

.stats {
  position: relative;
  padding-bottom: 10rem;
}

.stats--heading {
  font-size: 4rem;
  text-align: center;
  color: #35323e;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.stats--sub-head {
  text-align: center;
  font-size: 1.8rem;
  color: #bfbfbf;
  font-weight: 400;
}

.stats_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8rem 0;
}

.stats_boxes--box {
  margin-right: 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2.5rem;
  padding-top: 6rem;
  position: relative;
}

.stats_boxes--box div {
  background-color: #3b3054;
  border-radius: 10rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stats_boxes--box h3 {
  font-size: 1.8em;
  color: #35323e;
  padding-bottom: 1.5rem;
}

.stats_boxes--box p {
  font-size: 1.3rem;
  color: #bfbfbf;
}

.stats_boxes--box--2 {
  -webkit-transform: translateY(3.5rem);
          transform: translateY(3.5rem);
}

.stats_boxes--box--3 {
  margin-right: 0;
  -webkit-transform: translateY(7rem);
          transform: translateY(7rem);
}

.stats_green-bar {
  height: .7rem;
  width: 90%;
  background-color: #2acfcf;
  margin: 0 auto;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
}

.boost {
  padding: 5rem 0;
  text-align: center;
  background: url(/images/bg-boost-desktop.svg), #3b3054;
  background-size: cover;
}

.boost_heading {
  font-size: 4rem;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.boost a {
  font-size: 1.8em;
}
/*# sourceMappingURL=main.css.map */